*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.Contenedor-Centrado {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.Contenedor-RegisterPage {
    width: 100%;
    max-width: 550px;
    background-color: #F7F8F8;
    border: 1px solid #E1EAEF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.ContenedorTexto-RegisterPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.ContenedorTexto-RegisterPage h1 {
    color: #1E9CF1;
    font-size: 40px;
    text-align: center;
}

.ContenedorTexto-RegisterPage p {
    color: black;
    font-size: 20px;
    text-align: center;
}

.ContenedorFormulario-RegisterPage {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.ContenedorFormulario-RegisterPage form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.Fila-Doble {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.Campo-Grupo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Campo-Grupo label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}

.Campo-Grupo input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E1EAEF;
    outline: none;
    padding: 0 12px;
    font-size: 16px;
}

.Campo-Grupo input:focus {
    border: 1px solid #1E9CF1;
}

.Boton-RegisterPage {
    width: 70%;
    height: 50px;
    background-color: #1E9CF1;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.Boton-RegisterPage:hover {
    background-color: #4dabe9;
}


/* MEDIA QUERIES */

@media (max-width: 600px) {
    .Contenedor-RegisterPage {
        padding: 30px 0;
    }

    .ContenedorTexto-RegisterPage h1 {
        font-size: 32px;
    }

    .ContenedorTexto-RegisterPage p {
        font-size: 16px;
    }

    .ContenedorFormulario-RegisterPage form {
        width: 100%;
    }

    .Fila-Doble {
        flex-direction: column;
        gap: 20px;
    }

    .Boton-RegisterPage {
        width: 100%;
    }
}